a {
 font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.randomitems {

  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
    padding-top: 30px;
  padding-bottom: 30px;
}
}

.About {
    background-color: #ffffff;
    border-bottom: 20px solid #ffffff;
}

.About h2 {
    color: black;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.02em;
     display: inline-block;
            padding: 0.4em;
            border: black solid 4px;
    margin-bottom: 40px;
}

.About p {
    font-size: 16px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    padding-top: 25px;
    background-color: #41dcbc;
}

.nav a {
  margin-top: 20px;
  color: #14a085;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-color: #41dcbc;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:-8px;
    <!--the above value changes the distance between the logo and the text-->
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Open-sans', sans-serif;
  font-weight: 400;
    text-align: center;
}

.jumbotron p {
    
  font-size: 22px;
  color: #14a085;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.profiles {
  background-color: #f7f7f7;
    align-content: center;
}

.profiles h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-top: 40px;
    display: inline-block;
            padding: 0.4em;
            border: black solid 4px;
}
.profiles h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.profiles a {
  color: #00b0ff;
}

.services {
    background-color: #ffffff;
    border-bottom: 20px solid #ffffff;
}

.col-md-4 {
      display: block;
  margin-left: auto;
  margin-right: auto;
}